<div class = "container">
        <div class="container" id ="first-div">
        </div>
        <div class = "container">
          <h1><b>Who We Are:</b></h1>
          <div class = "row">
            <p>We are a group that believes in change and eguality. We believe in the ability of a few motivated people to bring about resounding, and disruptive change.</p>
          <div class = "row">
            <p>We, like many others before us, have noticed that women in the professional world are under-appreciated, under-valued, and under-represented. From the tech industry to engineering to the government to business, there is a lack of womenly presence.</p>
         </div>
         <div class = "row">
           <p>We want to flip that script. It is one of our core beliefs that there is power in meeting others like yurself. Many women are discouraged from entering certain workplaces because they don't feel they belong.</p>
          </div>
        <div class = "row">
           <p>Our aim is to bring together women who have epioneered and broken down the walls set before them with women who need guidance and mentorship. It is our hope that we will be able to develop a network of fearless, motivated, and driven QUEENS who will help each other break through barriers and persevere.</p>
          </div>
        </div>
      </div>